#rainbow-block {
	height: 100px;
	width: 100%;
	background: linear-gradient(to right, red, orange, yellow, green, blue, purple, pink);
}

#horn-block {
	margin-top: -40px;
	margin-left: 100px;
	width: 120px;
	border-bottom: 120px solid grey;
	border-right: 60px solid transparent;
	border-left: 60px solid transparent;
	box-sizing:border-box;
}
